/* Color Theme Swatches in Hex */
white
.EF-Language-Training---Digital-Explorations-1-hex { color: #F2F2F2; }
light gray
.EF-Language-Training---Digital-Explorations-2-hex { color: #8C8C8C; }
dark gray
.EF-Language-Training---Digital-Explorations-3-hex { color: #595959; }
dark gray black
.EF-Language-Training---Digital-Explorations-4-hex { color: #262626; }
black
.EF-Language-Training---Digital-Explorations-5-hex { color: #0C0C0C; }
