<div class="jumbotron jumbotron-fluid text-center welcome">
    <div class="container">
      <h1 class="display-12 banner-title">WELCOME TO FITTRACK</h1>

      <p class="lead">Accomplish your fitness goals with the help of FITTRACK</p>

      <hr class="my-4">
      <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg " role="button">Start Now</a>
    </div>
  </div>

  <div class="container-fluid no-padding text-center quote">
        <div class="row">
          <div class="col mydiv">
              <h2>"SET GOALS THEN DEMOLISH THEM"</h2>
          </div>


        </div>




  </div>

















