.register{
  background-image: url('../../assets/img/register.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30%;
  padding-bottom: 30%;
  background-position: center;
  background-attachment: fixed;

}

.btn-primary,.btn-primary:visited,.btn-primary:focus{
  background-color: #262626;
  border-color: #F2F2F2;

}

.btn-primary:hover{
  background-color: #F2F2F2;
  border-color: #262626;
  color: #262626;
  text-transform: capitalize;

}
